/* dark mode toggle button */
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-btn{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider-btn::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider-btn {
    background-color: #494949;
}

input:focus + .slider-btn {
    box-shadow: 0 0 1px #494949;
}

input:checked + .slider-btn::before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}