/* HEADER */
.header-container{
    background-color: #1d1d1d;
    padding: 20px;
    display: flex;
    align-items: center;
}

.header-container a{
    text-decoration: none !important;
}

  /* header styling NBA Rating */
.header-title{
    font-size: 30px;
    text-align: left;
    font-family: 'Krona One';
    color: #efefef;
    /* background-color: #ffffff; */
    margin-left: 20%;
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
    transition: 0.5s;
}

.sidebar-container-btn{
    display: flex;
    align-items: center;
    margin-left: 73%;
}