.App {
  text-align: center;
}

/* Imports font from google font */
@font-face{
  font-family: 'Krona One';
  src: url('https://fonts.googleapis.com/css?family=Krona+One')
}

/* HEADER */
.header-container{
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
}

.header-container a{
  text-decoration: none !important;
}

/* header styling NBA Rating */
.header-title{
  font-size: 30px;
  text-align: left;
  font-family: 'Krona One';
  color: #000000;
  /* background-color: #ffffff; */
  margin-left: 20%;
  width: 100%;
  max-width: 100%;
  margin-top: 5px;
  transition: 0.5s;
}

.sidebar-container-btn{
  display: flex;
  align-items: center;
}

/* dark mode toggle button */
.switch{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
  margin-left: 75%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-btn{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider-btn::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider-btn {
  background-color: #494949;
}

input:focus + .slider-btn {
  box-shadow: 0 0 1px #494949;
}

input:checked + .slider-btn::before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* sidebar open button */
.openbtn{
  cursor: pointer;
  font-size: 30px;
  background-color: #efefef;
  color: #000000;
  border: none;
}

.openbtn:hover{
  background-color: #1d1d1ddc;
  color: #efefef;
}

.hide-open-btn{
  display: none;
}

/* change styling of sidebar when screens are smaller than 450px */
@media only screen and (max-width: 600px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .header-title {font-size: 20px;}
}

/* sidebar styling */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0e0e0edc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* sidebar inner text styling */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #e4e3e3;
  font-family: 'Krona One';
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidebar a:hover{
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

/* sidebar closing button styling */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

/* class name when sidebar is closed */
.closed-sidebar{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.closed-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #e4e3e3;
  font-family: 'Krona One';
  display: block;
  transition: 0.3s;
  text-align: left;
}

/* HOME PAGE */
.home-page-container{
  opacity: 0;
  animation-name: fadeInAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  transition: 0.5s
}

@keyframes fadeInAnimation { 
  0% { opacity: 0; } 
  100% { opacity: 1; }
}

.greek-freak-logo{
  width: 25%;
  margin-top: 20px;
}

.home-page-title{
  font-size: 50px;
  font-family: 'Krona One';
  text-align: center;
  margin: auto;
  margin-top: 30px;
  width: 35%;
}

/* designed mobile first */
.home-page-about{
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-top: 20px;
  letter-spacing: .15em;
  font-size: 20px;
  width: 34%;
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 34% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1200px){
  .home-page-about{
    width: 48%;
  }
}

@media only screen and (max-width: 992px){
  .home-page-about{
    width: 37.5%;
    font-size: 15px;
  }
}

/* resize for tablets */
@media only screen and (max-width: 768px) {
  .home-page-about{
    width: 37.5%;
    font-size: 15px;
  }
}

.explore-btn{
  background-color: #e4e3e3;
  font-family: monospace;
  margin-top: 30px;
}

.explore-btn a{
  text-decoration: none;
  color: #000000;
}

.arrow-container{
  margin-top: 10px;
}

.arrow-up-desc{
  font-family: monospace;
  font-size: 15px;
}

#arrow-up{
  font-size: 25px;
}

/* PLAYERS COLLECTION PAGE */
.table-image-container{
  display: flex;
  align-items: center;
}

.players-table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: 10%;
  margin-top: 70px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover{
  background-color: #f1f1f1;
}

.player-table-image{
  width: 25%;
  margin-left: 10%;
}

.pagination-container{
  margin-top: 100px;
  font-family: Helvetica,Arial,sans-serif;
}

.pagination-text{
  font-size: 20px;
  color: #666666;
}

.pagination-btn{
  font-size: 20px;
  border: none;
  background-color: #ffffff !important;
  cursor: pointer;
}

/* PLAYER PAGE */
/* loading spinner  */
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #000000;
  margin: 0 auto;
  margin-top: 200px;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.player-name-header{
  font-family: arial, sans-serif;
  font-size: 40px;
  margin-top: 20px;
}

.stats-header{
  text-align: left;
  margin-left: 4%;
  margin-top: 50px;
  font-family: arial, sans-serif;
}

.stats-table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: 4%;
  margin-top: 10px;
}

/* SEASONS PAGE */
.seasons-container{
  text-decoration: none;
}

.seasons-list{
  font-family: arial, sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.seasons-list:hover{
  color: #313131;
  font-size: 21px;
}



/* FOOTER */
.footer-container{
  position: static;
  left: 0;
  bottom: 0;
  margin-top: 622px;
  padding: 20px 20px 5px 20px;
  background-color: #e6e3e1;
  /* width: 100%; */
}

.footer-paragraph{
  font-size: 15px;
}