.App {
  text-align: center;
  /* width: 1000px; */
}

@font-face{
  font-family: 'Krona One';
  src: url('https://fonts.googleapis.com/css?family=Krona+One')
}

.header-title{
  font-size: 5vw;
  font-family: 'Krona One';
  background-color: rgb(255, 157, 0);
  height: 20vh;
}

.players-container{
  /* width: 100vw; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.players-container{
  display: flex;
  flex-flow: row wrap;
  margin-left: 25px;
}

.player-card{
  margin: 15px;
}

.player-image{
  width: 22vw;
  height: 30vh;
}