/* SEASONS PAGE */
.seasons-container{
    width: 0%;
    margin: 0 auto;
}

.seasons-list{
    font-family: arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.seasons-list:hover{
    color: #313131;
    font-size: 21px;
}